/*--------------PAGE------------------*/
body
{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.recherche,h2
{
    margin:20px;
}
.main,.activites
{
    max-width: 1440px;
}
/*---------------------HAUT DE PAGE--------------------------------*/
header .wrap
{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    font-size:large;
    color: #0065FC;
    font-weight:bolder; 
}
nav
{
    width: 100%;
    margin-top: 10px;
}
header p,.logo
{
    margin-left: 20px;
    margin-right: 20px;
}
ul
{
   list-style-type: none;
   display: flex;
   padding: 0;
   margin: 0;
}
nav li
{
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #f2f2f2;
    padding-bottom: 10px;
    margin: 0;   
}
a 
{
    text-decoration: none;
    color:black; 
}
nav a:hover
{
    color: #0065FC;
}
header li:hover
{
    border-bottom:5px solid #0065FC ;
}
/*-----------------SECTION RECHERCHE--------------*/
.recherche
{
    display: flex;
    flex-direction: column;
}
.recherche h1
{
    margin-bottom: 10px;
    font-size: 25px;
}

.recherche p
{
    margin-top: 0px;
}
/*BARRE DE RECHERCHE*/
.barre_recherche
{
    height: 50px;
    min-width: 350px;
    max-width: 450px;
    display: flex;
}
.barre_recherche span,.barre_recherche a
{
    display: flex;
}
.saisie
{
    flex: 1;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
}
.saisie:active
{
    background-color:#F2F2F2;
}
input
{
    text-indent: 20px;
    font-weight: bold;
}
.marqueur
{
    width: 50px;
    border-radius: 33% 0 0 33%;
    background-color: #F2F2F2;
}
.loupe
{
    width: 50px;
    border-radius: 33%;
    color: white;
    background-color:#0065FC ;
    position: relative;
    left: -15px;
}
.loupe p
{
    display: none;
}
i
{
    margin: auto; /*Centrage icone*/
}
input
{
    border: none;
    width: 100%;
}
/*-------------------SECTION FILTRE------------------------------------*/

.liste_filtre .case_icone
{
    height: 50px;
    width: 50px;
    display: flex;
    color:#0065FC ;
    font-size: 20px;
    background-color: #DEEBFF;
    border: 3px solid #DEEBFF;
    position:relative;
    top: -3px;
    left: -3px; /* valeur de la bordure*/
    border-radius: 100%;
    
}
.liste_filtre
{
    flex-wrap: wrap;
}
.liste_filtre li
{
    height: 50px;
    display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 25px;
    margin: 10px 0 10px 20px;
    font-weight: bold;
}
.filtres li:hover
{
    background-color: black;
    color: white;   
}
.liste_filtre p
{
    padding-right: 10px;
    padding-left: 10px;
}
.texte_info
{
    display: flex;
    margin: 20px;
}
.icone_info
{
    color: #0065FC;
    display: flex;
    font-size:small;
    height: 20px;
    width: 20px;
    border: 3px solid #F2F2F2;
    border-radius: 100%;
    margin : 10px 10px 0 0;
}

/*---------------SECTION PRINCIPALE----------*/
.main
{
    display: flex;
    flex-direction: column;
}

/*-----------------SECTION POPULAIRE-----------------*/
.populaire
{
    max-height: 620px;
    background-color: #F2F2F2;
    margin: 20px auto;
}
.en_tete
{
    width: 100%;
    display: flex;
}
.en_tete i
{
    font-size: 20px;
    margin-right: 5%;
}
.case_image_pop
{
    width: 350px;
    height: 150px;
    background-color: white;
    margin: 20px;
    display: flex;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
}
.case_image_pop img
{
    border-radius: 10px 0 0 10px;
    margin: 5px;
    width: 150px;   
    object-fit: cover;  
}
.description-img
{
    margin: 5px;
    flex-direction: column;
}
.note
{
    margin: 50px 0 10px 10px;
}
.fa-star
{
    color:#0065FC;
}
.etoile_grise i
{
    color: #F2F2F2;
}
/*------------SECTION HEBERGEMENT-----------------*/
.hebergements
{
    margin: 20px auto;
}
.hebergements .case_image
{
    width: 300px;
    height: 200px;
    background-color: white;
    margin: 0 0 20px 20px;
    box-shadow: 5px 5px 15px #F2F2F2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.hebergements img
{
    width: 290px;
    height: 100px;
    border-radius: 10px 10px 0 0;
    margin: 5px;
    object-fit: cover;
}
.case_image p,.case_image_pop p
{
    margin: 10px;
}

.hebergements .note
{
    margin: 10px 0 10px 10px;
}
h3
{
    width: 100%;
    margin: 20px;
}
/*---------------------SECTION ACTIVITES-----------*/
.activites
{
    margin: auto;
    width: 330px;
}
.activites p
{
    font-weight: bolder;
}
.activites .case_image
{
        background-color: white;
        margin: 0 0 20px 20px;
        box-shadow: 5px 5px 15px #F2F2F2;
        border-radius: 20px;
}
.activites img
{
    height: 150px;
    width: 290px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.grille
{
    display: flex;
    flex-wrap: wrap;
}
/*--------------------BAS DE PAGE*-----------------*/
footer
{
    background-color: #F2F2F2;
    margin-top: 20px;
}
footer .wrap
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer div
{
    margin: 25px;
}
footer h3
{
    margin-left: 0;
}

/*---------------RESPONSIVE DESIGN-------------------*/

@media (min-width: 1024px)
{
    /*--------------PAGE------------------*/
    .recherche, .filtres
    {
        margin: 20px 50px
    }
    /*---------------------HAUT DE PAGE--------------------------------*/
    header .wrap
    {
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }
    nav
    {
        width: 300px;
        margin: 0;
        order: 2;
    }
    nav li
    {
        border-bottom: none;
        padding-top: 50px;
    }
    header p
    {
        order: 3;
        margin:50px 50px 10px 20px;
    }
    .logo
    {
        position: absolute;
        top: 40px;
        left: 0;
        margin-left: 50px;

    }
    /*-----------------SECTION RECHERCHE--------------*/
    .loupe
    {
        width:auto;
        border-radius: 0 10px 10px 0;
    }
    .loupe i
    {
        display: none;
    }
    .loupe p
    {
        display: initial;
        margin: auto;
        padding:0 10px 0 10px;
    }
    /*-------------------SECTION FILTRE------------------------------------*/   
    .wraper
    {
        display: flex;
        flex-wrap: wrap;
    }
    .filtres h2
    {
        margin-left: 0;
    }
    /*---------------SECTION PRINCIPALE----------*/
    .main
    {
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 620px;
    }
    /*-----------------SECTION POPULAIRE-----------------*/
    .populaire
    {
        border-radius: 20px;
        order: 2;
    }
    /*------------SECTION HEBERGEMENT-----------------*/
    .hebergements
    {
        max-width: 850px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px;
        background-color: #F2F2F2;
        order: 1;
        margin: 20px auto;
    }
    .hebergements h2
    {
        width: 100%;
    }
    h3
    {
        align-self: flex-end;
    }
    .hebergements .case_image
    {
        width: 250px;
    }
    .hebergements img
    {
        width: 240px;
    }
    /*---------------------SECTION ACTIVITES-----------*/    
    .activites
    {
        width: auto;
        margin: 50px;
    }
    .activites .case_image
    {
        max-width: 300px;
        margin: 0;
    }
    .activites img 
    {
        width: 100%;
    }
    .grille
    {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 150px 80px 150px;
    }
    #vieux_port
    {
        height: auto;
        grid-column: 1/2;
        grid-row: 1/4;
    }
    #calanques
    {
        height: auto;
        grid-column: 3/4;
        grid-row: 1/4;
    }
    #ile
    {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #ile img,#notredame img
    {
        height: 100px;
    }
    #fort
    {
        grid-row: 1/3;
    }
    #fort img,#longchamps img
    {
        height: 200px;
    }
    #notredame
    {
        grid-column: 4/5;
        grid-row: 1/2;
    } 
    #longchamps
    {
        grid-column: 4/5;
        grid-row: 2/4;
    } 
    #vieux_port img,#calanques img
    {
        height: 370px;
    }
    /*---------------SURVOL SOURIS--------------*/
    header li:hover
    {
        border-top: 5px solid #0065FC;
        border-bottom: none;
        padding-top: 45px;
    }
    /*--------------------BAS DE PAGE*-----------------*/
    footer .wrap
    {
        flex-direction: row;
    }   
}
@media(min-width:1450px)
    {
        header .logo
        {
            margin-left: 0;
        }
        .main, .activites,.wrap,.recherche,.filtres
        {
            width: 1440px;
            margin: auto;
        }
        .main
        {
            gap: 100px;
        }
        .hebergements,.populaire
        {
            margin: 0;
        }
        header .wrap
        {
            justify-content: flex-end;
        }
        footer .wrap
        {
            justify-content: space-between;
        }

    }
